/* Generic styles */
body {
  width: 100%;
  height: 100%;
  background-color: #333;
  color: #fff;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #222;
}

header h1 {
  font-size: 28px;
  padding: 5px;
}

header h1.shifted {
  margin-left: 200px;
}

.link {
  display: inline-block;
  margin-left: 10px;
  text-decoration: none;
  color: white;
}

.link:hover {
  color: darkgray;
}

/* Layout */
.wrapper {
  display: flex;
}

.content-container {
  flex-grow: 1;
  display: flex;
  position: relative;
  top: 10vh;
  justify-content: center;
}

.main-content {
  transition: all 0.3s ease;
  max-width: 800px;
  padding: 0 20px;
}

.main-content.shifted {
  padding-left: 270px;
}

/* Navigation */
.navmenu {
  cursor: pointer;
  font-size: 40px;
  padding: 10px;
}

.navmenu:hover {
  color: #f1f1f19f;
  background-color: #f1f1f109;
}

.sidebar {
  height: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #222;
  overflow-x: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  transition: width 0.3s ease;
}

.sidebar a {
  padding: 8px 8px 8px 8px;
  text-decoration: none;
  text-align: center;
  font-size: 24px;
  color: #fff;
  display: block;
  transition: 0.5s;
}

.sidebar a:hover {
  color: #f1f1f19f;
  background-color: #f1f1f109;
}

.sidebar .closebtn {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  margin-left: 75%;
  max-width: 25%;
  font-size: 36px;
}

/* Form */
.form-container {
  width: 300px;
  margin: 0 auto;
  background-color: #555;
  padding: 20px;
  border: 1px solid #666;
  border-radius: 5px;
  box-shadow: 2px 2px 5px #666;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.form-label {
  font-weight: bold;
  display: block;
  margin-bottom: 10px;
}

.form-input {
  width: 100%;
  padding: 12px 20px;
  margin-bottom: 15px;
  box-sizing: border-box;
  border: 1px solid #666;
  border-radius: 1em;
  background-color: #333;
  color: #fff;
}

.form-submit {
  width: 100%;
  background-color: #4caf50;
  font-size: large;
  color: white;
  padding: 14px 20px;
  margin-top: 5px;
  border: none;
  border-radius: 1em;
  cursor: pointer;
}

.form-submit:hover {
  background-color: #45a049;
}

.error-msg {
  color: red;
  text-align: center;
}

/* Table */
table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  text-align: left;
  padding: 8px;
  border-bottom: 1px solid #ddd;
}

td:first-child {
  font-weight: bold;
}

td:nth-child(2) {
  font-style: italic;
}

td:nth-child(3) {
  font-family: monospace;
}

/* Utility classes */
.center {
  display: flex;
  justify-content: center;
}

.hide {
  display: none;
}

.bg-gray {
  background-color: #444;
}
