<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PyPass Dashboard</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
</head>

<body>
    <nav id="sidebar" class="sidebar">
        <a href="javascript:void(0)" class="closebtn" onclick="toggle_sidebar()">&times;</a>
        <a href="#">Add a Password</a>
        <a href="#">Link 2</a>
        <a href="#">Link 3</a>
        <a href="{{ url_for('logout') }}">Logout</a>
    </nav>
    <span id="navmenu" class="navmenu" onclick="toggle_sidebar()">&#9776;</span>
    <br>
    <main id="content" class="main-content">
        <h1>PyPass Dashboard</h1>
        <h2>My Passwords</h2>
        <table>
            <thead>
                <tr>
                    <th>Website/Service</th>
                    <th>Username</th>
                    <th>Password</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Google</td>
                    <td>john.doe@gmail.com</td>
                    <td>********</td>
                </tr>
                <tr>
                    <td>Facebook</td>
                    <td>johndoe123</td>
                    <td>********</td>
                </tr>
                <tr>
                    <td>Twitter</td>
                    <td>johndoe</td>
                    <td>********</td>
                </tr>
            </tbody>
        </table>
        <a href="#" class="link">View Passwords</a>
        <div class="form-container hide">
            <form action="{{ url_for('add_account') }}" method="POST">
                <label for="website" class="form-label">Website/Service:</label>
                <input type="text" id="website" name="website" class="form-input" required><br>
                <label for="username" class="form-label">Username:</label>
                <input type="text" id="username" name="username" class="form-input" required><br>
                <label for="password" class="form-label">Password:</label>
                <input type="password" id="password" name="password" class="form-input" required><br>
                <input type="submit" value="Add Password" class="form-submit">
            </form>
        </div>
    </main>
</body>
<script src="{{ url_for('static', filename='js/helper_functions.js') }}"></script>
<script src="{{ url_for('static', filename='js/index.js') }}"></script>
</html>