<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>PyPass Dashboard</title>
  <link rel="stylesheet" href="{{ url_for('static', path='css/styles.css') }}" />
</head>

<body>
  <header>
    <span id="navmenu" class="navmenu" style="display: block">☰</span>
    <h1 id="header-title">PyPass Dashboard</h1>
  </header>
  <div class="wrapper">
    <nav id="sidebar" class="sidebar" style="width: 0px">
      <a href="javascript:void(0)" id="closebtn" class="closebtn">×</a>
      <a href="http://0.0.0.0:8000/logout">Logout</a>
    </nav>
    <div class="content-container">
      <main id="content" class="main-content">
        <h2>My Passwords</h2>
        <table>
          <thead>
            <tr>
              <th>Website/Service</th>
              <th>Username</th>
              <th>Password</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody id="dashboard_passwords">
            <tr class="add-password">
              <td>
                <input class="add-password-form-input" type="text" name="service" id="service"
                  placeholder="Website/Service" />
              </td>
              <td>
                <input class="add-password-form-input" type="text" name="username" id="username"
                  placeholder="Username" />
              </td>
              <td>
                <input class="add-password-form-input" type="text" name="password" id="password"
                  placeholder="Password" />
              </td>
              <td>
                <a href="javascript:void(0)" class="link">Add</a>
              </td>
            </tr>
          </tbody>
        </table>
        <a id="view-passwords" href="javascript:void(0)" class="link">View Passwords</a>
        <dialog id="dialog-box">
          <p id="error-msg"></p>
          <button id="cancel">OK</button>
        </dialog>
      </main>
    </div>
  </div>
  <script src="{{ url_for('static', path='js/index.js') }}"></script>
</body>

</html>