<!DOCTYPE html>
<html>

<head>
  <title>Login</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
</head>

<body class="">
  <div class="center">
    <h1 class="welcome">PyPass</h1>
  </div>
  <form class="form-container bg-gray" action="{{url_for('login')}}" method="POST">
    <label class="form-label">Username:</label>
    <input type="text" class="form-input" name="username" required>

    <label class="form-label">Password:</label>
    <input type="password" class="form-input" name="password" required>
    {% if message %}
    <p class="error-msg">{{ message }}</p>
    {% endif %}
    <input type="submit" class="form-submit" value="Login">
    <br>
    <br>
    <a class="link" href="{{url_for('create_account_redirect')}}">Don't have an account? Sign up here</a>
    <a class="link" href="{{url_for('recover_account')}}">Forgot username or password?</a>
  </form>
</body>

</html>
